<a href="https://colab.research.google.com/github/Lucas-Martins920/Apache_spark/blob/main/Apache_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master('local[*]') \
    .appName('Iniciando com Spark') \
    .config('spark.ui.port', '4040') \
    .config('spark.sql.autoBroadcastJoinThreshold', -1) \
    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7e64ade55cd0>

In [ ]:
from pyspark.sql.functions import lit, col

#Lê o csv e atribui a variavel df

df = spark.read \
      .option("header", "true") \
      .option("inferSchema", "true") \
      .csv("/campeonato-brasileiro-full.csv")

# Filtra do dataframe pela coluna mandante


df = df.filter(col("vencedor") == "Vasco")
df = df.filter(col("mandante") == "Flamengo")

# mostra o dataframe filtrado e quantidade de linhas

print(df.count())
df.show()

3
+----+------+----------+-------------------+--------+---------+-----------------+------------------+--------------------+-------------------+--------+---------+---------------+----------------+---------------+----------------+
|  ID|rodata|      data|               hora|mandante|visitante|formacao_mandante|formacao_visitante|    tecnico_mandante|  tecnico_visitante|vencedor|    arena|mandante_Placar|visitante_Placar|mandante_Estado|visitante_Estado|
+----+------+----------+-------------------+--------+---------+-----------------+------------------+--------------------+-------------------+--------+---------+---------------+----------------+---------------+----------------+
| 713|    14|10/07/2004|2025-07-23 16:00:00|Flamengo|    Vasco|             NULL|              NULL|                NULL|               NULL|   Vasco| Maracanã|              0|               1|             RJ|              RJ|
|1686|    12|16/07/2006|2025-07-23 18:10:00|Flamengo|    Vasco|             NULL|              NULL|                NULL|               NULL|   Vasco| Maracanã|              0|               1|             RJ|              RJ|
|5261|    28|27/09/2015|2025-07-23 16:00:00|Flamengo|    Vasco|          4-2-3-1|         4-1-2-1-2|O. de Oliveira Filho|J. de Amorim Campos|   Vasco| Maracanã|              1|               2|             RJ|              RJ|
+----+------+----------+-------------------+--------+---------+-----------------+------------------+--------------------+-------------------+--------+---------+---------------+----------------+---------------+----------------+

In [ ]:
from pyspark.sql.functions import lit, col, to_date, day, month, year
from datetime import date

#Lê o csv e atribui a variavel df

df = spark.read \
      .option("header", "true") \
      .option("inferSchema", "true") \
      .csv("/campeonato-brasileiro-full.csv")

# Transformar a coluna data para o tipo date

df = df.withColumn("data", to_date(col("data"), "dd/MM/yyyy"))

# Filtra do dataframe pela "data"

df = df.filter(
         (day(col("data")) == 9) &
         (month(col("data")) == 1) &
         (year(col("data")) == 2006)
     )

# mostra o dataframe filtrado e quantidade de linhas

print(df.count())
df.show()
df.printSchema

0
+---+------+----+----+--------+---------+-----------------+------------------+----------------+-----------------+--------+-----+---------------+----------------+---------------+----------------+
| ID|rodata|data|hora|mandante|visitante|formacao_mandante|formacao_visitante|tecnico_mandante|tecnico_visitante|vencedor|arena|mandante_Placar|visitante_Placar|mandante_Estado|visitante_Estado|
+---+------+----+----+--------+---------+-----------------+------------------+----------------+-----------------+--------+-----+---------------+----------------+---------------+----------------+
+---+------+----+----+--------+---------+-----------------+------------------+----------------+-----------------+--------+-----+---------------+----------------+---------------+----------------+

<bound method DataFrame.printSchema of DataFrame[ID: int, rodata: int, data: date, hora: timestamp, mandante: string, visitante: string, formacao_mandante: string, formacao_visitante: string, tecnico_mandante: string, tecnico_visitante: string, vencedor: string, arena: string, mandante_Placar: int, visitante_Placar: int, mandante_Estado: string, visitante_Estado: string]>

In [ ]:
# 1 - todos os jogos que o Gremio foi mandante e venceu em 2003

from pyspark.sql.functions import lit, col, to_date, year

#Lê o csv e atribui a variavel df

df = spark.read \
      .option("header", "true") \
      .option("inferSchema", "true") \
      .csv("/campeonato-brasileiro-full.csv")

# Transformar a coluna data para o tipo date
df = df.withColumn("data", to_date(col("data"), "dd/MM/yyyy"))

# Filtra do dataframe pela coluna mandante

df = df.filter(col("mandante") == "Gremio")
df = df.filter(col("vencedor") == "Gremio")
df = df.filter(year(col("data")) == 2003)

# mostra o dataframe filtrado e quantidade de linhas

print(df.count())
df.show()

10
+---+------+----------+-------------------+--------+-----------+-----------------+------------------+----------------+-----------------+--------+---------+---------------+----------------+---------------+----------------+
| ID|rodata|      data|               hora|mandante|  visitante|formacao_mandante|formacao_visitante|tecnico_mandante|tecnico_visitante|vencedor|    arena|mandante_Placar|visitante_Placar|mandante_Estado|visitante_Estado|
+---+------+----------+-------------------+--------+-----------+-----------------+------------------+----------------+-----------------+--------+---------+---------------+----------------+---------------+----------------+
| 16|     2|2003-04-05|2025-07-24 18:00:00|  Gremio|    Guarani|             NULL|              NULL|            NULL|             NULL|  Gremio| Olímpico|              3|               1|             RS|              SP|
| 27|     4|2003-04-16|2025-07-24 20:30:00|  Gremio|    Vitoria|             NULL|              NULL|            NULL|             NULL|  Gremio| Olímpico|              2|               1|             RS|              BA|
| 96|     8|2003-05-11|2025-07-24 18:00:00|  Gremio|   Coritiba|             NULL|              NULL|            NULL|             NULL|  Gremio| Olímpico|              1|               0|             RS|              PR|
|135|    12|2003-06-07|2025-07-24 16:00:00|  Gremio|  Fortaleza|             NULL|              NULL|            NULL|             NULL|  Gremio| Olímpico|              3|               1|             RS|              CE|
|185|    16|2003-07-06|2025-07-24 16:00:00|  Gremio|   Flamengo|             NULL|              NULL|            NULL|             NULL|  Gremio| Olímpico|              2|               0|             RS|              RJ|
|266|    23|2003-08-02|2025-07-24 16:00:00|  Gremio|     Santos|             NULL|              NULL|            NULL|             NULL|  Gremio| Olímpico|              2|               0|             RS|              SP|
|400|    34|2003-10-04|2025-07-24 18:00:00|  Gremio|Figueirense|             NULL|              NULL|            NULL|             NULL|  Gremio| Olímpico|              3|               1|             RS|              SC|
|494|    42|2003-11-08|2025-07-24 18:00:00|  Gremio|   Paysandu|             NULL|              NULL|            NULL|             NULL|  Gremio| Olímpico|              2|               0|             RS|              PA|
|508|    43|2003-11-22|2025-07-24 18:00:00|  Gremio|      Vasco|             NULL|              NULL|            NULL|             NULL|  Gremio| Olímpico|              4|               3|             RS|              RJ|
|546|    46|2003-12-14|2025-07-24 16:00:00|  Gremio|Corinthians|             NULL|              NULL|            NULL|             NULL|  Gremio| Olímpico|              3|               0|             RS|              SP|
+---+------+----------+-------------------+--------+-----------+-----------------+------------------+----------------+-----------------+--------+---------+---------------+----------------+---------------+----------------+

In [ ]:
# 2 - Filtrar todos os jogos em que o mandante venceu.

# seleciona as colunas
df_mandante_vencedor = df_csv_bruto \
    .select('rodada', 'data', 'mandante', 'visitante', 'mandante_Placar', 'visitante_Placar', 'vencedor')

# aplica o filtro para trazer somente os mandantes que venceram
df_mandante_vencedor = df_mandante_vencedor \
    .filter(col('mandante') == col('vencedor'))

# ordena pela data
df_mandante_vencedor = df_mandante_vencedor \
    .orderBy('data')

print(df_mandante_vencedor.count())
df_mandante_vencedor.show()

4359
+------+----------+-------------+------------+---------------+----------------+-------------+
|rodada|      data|     mandante|   visitante|mandante_Placar|visitante_Placar|     vencedor|
+------+----------+-------------+------------+---------------+----------------+-------------+
|     1|2003-03-29|      Guarani|       Vasco|              4|               2|      Guarani|
|     1|2003-03-29| Athletico-PR|      Gremio|              2|               0| Athletico-PR|
|     1|2003-03-30|     Criciuma|  Fluminense|              2|               0|     Criciuma|
|     2|2003-04-05|       Gremio|     Guarani|              3|               1|       Gremio|
|     2|2003-04-06|  Ponte Preta|   Juventude|              1|               0|  Ponte Preta|
|     2|2003-04-06|       Parana|Athletico-PR|              3|               0|       Parana|
|     2|2003-04-06|  Sao Caetano|    Criciuma|              3|               2|  Sao Caetano|
|     2|2003-04-06|        Vasco|       Goias|              6|               4|        Vasco|
|     4|2003-04-09|     Paysandu|      Santos|              2|               1|     Paysandu|
|     3|2003-04-12|Internacional|       Bahia|              2|               0|Internacional|
|     3|2003-04-12|       Santos| Figueirense|              2|               0|       Santos|
|     3|2003-04-12|  Corinthians|    Paysandu|              6|               1|  Corinthians|
|     3|2003-04-13|      Vitoria|       Vasco|              2|               1|      Vitoria|
|     3|2003-04-13|    Juventude|    Coritiba|              2|               1|    Juventude|
|     3|2003-04-13|      Guarani|      Parana|              2|               0|      Guarani|
|     3|2003-04-13|     Cruzeiro| Ponte Preta|              3|               0|     Cruzeiro|
|     3|2003-04-13|     Flamengo|  Fluminense|              4|               1|     Flamengo|
|     4|2003-04-16|        Bahia|   Juventude|              3|               1|        Bahia|
|     4|2003-04-16|       Gremio|     Vitoria|              2|               1|       Gremio|
|     4|2003-04-16|  Atletico-MG|     Guarani|              3|               2|  Atletico-MG|
+------+----------+-------------+------------+---------------+----------------+-------------+
only showing top 20 rows

In [ ]:
# 3 - Todos os jogos em que o visitante venceu

# seleciona as colunas
df_visitante_vencedor = df_csv_bruto \
    .select('rodada', 'data', 'mandante', 'visitante', 'mandante_Placar', 'visitante_Placar', 'vencedor')

# aplica o filtro para trazer somente os visitantes que venceram
df_visitante_vencedor = df_visitante_vencedor \
    .filter(col('visitante') == col('vencedor'))

# ordena pela data
df_visitante_vencedor = df_visitante_vencedor \
    .orderBy('data')

print(df_visitante_vencedor.count())
df_visitante_vencedor.show()

2104
+------+----------+------------+-------------+---------------+----------------+-------------+
|rodada|      data|    mandante|    visitante|mandante_Placar|visitante_Placar|     vencedor|
+------+----------+------------+-------------+---------------+----------------+-------------+
|     1|2003-03-30| Corinthians|  Atletico-MG|              0|               3|  Atletico-MG|
|     2|2003-04-05|    Coritiba|Internacional|              0|               1|Internacional|
|     2|2003-04-06|       Bahia|     Flamengo|              1|               2|     Flamengo|
|     2|2003-04-06|    Paysandu|      Vitoria|              1|               2|      Vitoria|
|     2|2003-04-06|   Sao Paulo|     Cruzeiro|              2|               4|     Cruzeiro|
|     3|2003-04-12|Athletico-PR|  Atletico-MG|              1|               2|  Atletico-MG|
|     4|2003-04-16|    Coritiba|     Cruzeiro|              3|               4|     Cruzeiro|
|     5|2003-04-19|       Bahia|  Atletico-MG|              2|               4|  Atletico-MG|
|     5|2003-04-19|    Flamengo|       Santos|              0|               2|       Santos|
|     6|2003-04-26| Atletico-MG|     Coritiba|              1|               2|     Coritiba|
|     6|2003-04-26|     Vitoria|Internacional|              0|               3|Internacional|
|     6|2003-04-27|      Gremio|   Fluminense|              0|               1|   Fluminense|
|     7|2003-05-04|   Fortaleza|  Corinthians|              1|               2|  Corinthians|
|     7|2003-05-04|    Criciuma|       Santos|              1|               3|       Santos|
|     8|2003-05-10|      Santos|     Cruzeiro|              0|               2|     Cruzeiro|
|    10|2003-05-25|    Paysandu|     Coritiba|              1|               3|     Coritiba|
|    10|2003-05-25|       Goias|     Criciuma|              0|               2|     Criciuma|
|    10|2003-05-25|      Gremio|    Sao Paulo|              1|               2|    Sao Paulo|
|    12|2003-06-07|     Guarani|       Santos|              1|               2|       Santos|
|    12|2003-06-08|       Goias|     Coritiba|              1|               2|     Coritiba|
+------+----------+------------+-------------+---------------+----------------+-------------+
only showing top 20 rows

In [ ]:
# 4 - Todos os jogos que aconteceram em de 2012

# seleciona as colunas
df_jogos_em_2012 = df_csv_bruto \
    .select('rodada', 'data', 'mandante', 'visitante', 'mandante_Placar', 'visitante_Placar', 'vencedor')

# aplica filtro para trazer os jogos apenas de 2012
df_jogos_em_2012 = df_jogos_em_2012.filter(year(col('data')) == 2012)

print(df_jogos_em_2012.count())
df_jogos_em_2012.show()

380
+------+----------+-------------+-------------+---------------+----------------+-------------+
|rodada|      data|     mandante|    visitante|mandante_Placar|visitante_Placar|     vencedor|
+------+----------+-------------+-------------+---------------+----------------+-------------+
|     1|2012-05-19|    Palmeiras|   Portuguesa|              1|               1|            -|
|     1|2012-05-19|        Sport|     Flamengo|              1|               1|            -|
|     1|2012-05-19|  Figueirense|      Nautico|              2|               1|  Figueirense|
|     1|2012-05-20|  Corinthians|   Fluminense|              0|               1|   Fluminense|
|     1|2012-05-20|Internacional|     Coritiba|              2|               0|Internacional|
|     1|2012-05-20|  Botafogo-RJ|    Sao Paulo|              4|               2|  Botafogo-RJ|
|     1|2012-05-20|  Ponte Preta|  Atletico-MG|              0|               1|  Atletico-MG|
|     1|2012-05-20|     Cruzeiro|  Atletico-GO|              0|               0|            -|
|     1|2012-05-20|        Bahia|       Santos|              0|               0|            -|
|     1|2012-05-20|        Vasco|       Gremio|              2|               1|        Vasco|
|     2|2012-05-26|  Atletico-GO|  Ponte Preta|              1|               1|            -|
|     2|2012-05-26|     Flamengo|Internacional|              3|               3|            -|
|     2|2012-05-26|   Portuguesa|        Vasco|              0|               1|        Vasco|
|     2|2012-05-26|      Nautico|     Cruzeiro|              0|               0|            -|
|     2|2012-05-27|    Sao Paulo|        Bahia|              1|               0|    Sao Paulo|
|     2|2012-05-27|  Atletico-MG|  Corinthians|              1|               0|  Atletico-MG|
|     2|2012-05-27|     Coritiba|  Botafogo-RJ|              2|               3|  Botafogo-RJ|
|     2|2012-05-27|       Santos|        Sport|              0|               0|            -|
|     2|2012-05-27|       Gremio|    Palmeiras|              1|               0|       Gremio|
|     2|2012-05-27|   Fluminense|  Figueirense|              2|               2|            -|
+------+----------+-------------+-------------+---------------+----------------+-------------+
only showing top 20 rows

In [ ]:
# 4 - em 2012 trazer todos os jogos que tem uma diferença de mais de 3 gols no placar
from pyspark.sql.functions import abs

df_jogos_em_2012_dif_3_gols = df_jogos_em_2012 \
    .filter(
        abs(col("mandante_Placar") - col("visitante_Placar")) > 3
    )

print(df_jogos_em_2012_dif_3_gols.count())
df_jogos_em_2012_dif_3_gols.show()

11
+------+----------+-----------+-----------+---------------+----------------+-----------+
|rodada|      data|   mandante|  visitante|mandante_Placar|visitante_Placar|   vencedor|
+------+----------+-----------+-----------+---------------+----------------+-----------+
|     6|2012-06-23|Atletico-MG|    Nautico|              5|               1|Atletico-MG|
|    10|2012-07-19| Fluminense|      Bahia|              4|               0| Fluminense|
|    18|2012-08-19|   Coritiba|   Cruzeiro|              4|               0|   Coritiba|
|    18|2012-08-19|     Gremio|Figueirense|              4|               0|     Gremio|
|    20|2012-08-30|  Sao Paulo|Botafogo-RJ|              4|               0|  Sao Paulo|
|    23|2012-09-09|      Vasco|      Bahia|              0|               4|      Bahia|
|    28|2012-10-04| Portuguesa|      Sport|              5|               1| Portuguesa|
|    28|2012-10-06|Atletico-MG|Figueirense|              6|               0|Atletico-MG|
|    33|2012-10-27|Botafogo-RJ|Atletico-GO|              4|               0|Botafogo-RJ|
|    34|2012-11-03|   Cruzeiro|     Santos|              0|               4|     Santos|
|    35|2012-11-10|Corinthians|   Coritiba|              5|               1|Corinthians|
+------+----------+-----------+-----------+---------------+----------------+-----------+

In [ ]:
# 5 - trazer os jogos mais recentes que o Flamengo ganhou do vasco